

table {
	border-collapse: collapse;
	border-spacing: 5px;
}


body {
    display: grid;
    grid-template-rows: 100px 1fr 150px;
    gap: 30px;
    width: 1100px;
    margin: 0 auto;

  }
  main {
    width: 950px;
    margin: auto;
    display: grid;
    grid-template-rows: 450px 375px 400px;
    gap: 30px;
  }
  header{
    align-items:center;
    display: grid;
    grid-template-columns: 200px 1fr;
    width:100%;
    padding: 0 70px;
    background: darkslategray;
  }
header nav{
  text-decoration: none;
    align-items: center;
}


main section:nth-child(2){
display: grid;
grid-template-columns: repeat(3 , 1fr);
gap: 30px;


}
main section:nth-child(3) article {
  padding-left: 30px;
}

main section:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  }
header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 0%;
  }

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    padding:10px;
    position:center;
}

.hero {
    float:right;
    color: black;
}
     p {
  overflow: auto;
  float: right;
  margin: 5px;
    line-height: 1.5;
    text-indent: 30px;
    text-align: right;
    height: 300px;
  }

  .text {
float: inline-start;
color:black;


  }
  footer {
    color: aqua ;
    display: flex;
      align-items: center;
      justify-content: center;
      background: #222;
      color: 0;
  }
  button {
    float:right;
    border-width:1mm;
    text-emphasis-color:white ;
    background-color: black;
    color: aliceblue;
  }
  button:hover{ 
    
    Background:white;
    color: black;
  }